@import "tailwindcss";

/* components */
.input {
  @apply w-full px-4 py-3 border rounded-lg outline-none
         bg-white text-gray-900
         dark:bg-gray-700 dark:text-gray-100 dark:border-gray-600;
}

